#
# {{ item.label }}
#

server {

{% for host in item.listen_hosts %}
  listen {{ host }};
{% endfor %}

{% for name in item.server_names %}
  server_name {{ name }};
{% endfor %}

{% if item.access_log is defined %}
  access_log {{ item.access_log }};
{% endif %}

{% if item.error_log is defined %}
  error_log {{ item.error_log }};
{% endif %}

  root {{ item.root | default("/var/www/localhost") }};
  index {{ item.index | default("index.html index.php") }};

  location / {
    try_files $uri $uri/ =404;
  }

  location ~ \.php$ {
    try_files $uri =404;
    include /etc/nginx/fastcgi.conf;
    fastcgi_pass {{ fastcgi_pass | default('127.0.0.1:9000') }};
  }
}
